<ion-header>
  <ion-toolbar>
    <ion-title>
      Golf Ace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/golf.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Welcome to Golf Ace</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>The only Golf Resource your game will need. </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://www.golfchannel.com/instruction">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Golf Instruction</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Find Me and Play</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
