<ion-header>
  <ion-toolbar>
    <ion-title>
      About Us 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/golf2.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>About Us</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>At Golf Ace we want to be your one stop shop for all your golfing needs </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>About</ion-label>
      </ion-list-header>
      <ion-item href="">
        <ion-label>Made as a student project for Maryville University</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
